.post {
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 50px;
  text-align: left;
  font-size: 18px;
  width: 40%;
}

.post span {
  font-size: 12px;
  padding-right: 5px;
}
.postbook-name {
  margin: 0px;
  font-size: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.postauthor {
  margin: 0px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.postcompany {
  margin: 0px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.postbook-state {
  margin: 0px;
  color: darksalmon;
}

.postbook-state span {
  color: black;
}

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .post {
    font-size: 60%;
    margin-left: 0;
  }
  .postbook-name {
    font-size: 70% !important;
  }
}
